
@keyframes night {
  
    0% {
        background-image: url('../images/night.jpg');
        background-size: contain;
        
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }

}


@keyframes thunder-animation {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.2;
    }

    20% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    70% {
        opacity: 0.6;
    }

    80% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }

}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }

}

@keyframes jump-animation {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px
    }

    70% {
        bottom: 180px;
    }

    100% {
        bottom: 0%;
    }
}