* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blue;

}

.game {
    width: 100%;
    height: 100vh;
    border-bottom: 100px solid rgb(24, 174, 24);
    position: relative;
    overflow: hidden;
    
}

.sunny-day {
    width: 100%;
    height: 100vh;
    border-bottom: 100px solid rgb(24, 174, 24);
    position: absolute;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
    animation: night 60s linear infinite alternate;
    z-index: -1;
}

#menu {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


ul {
    list-style: none;
}

h1 {
    color: rgb(202, 202, 35);
    font-weight: 700;
}

#start-game {
    width: 50px;
    height: 50px;
    font-size: 35px;
    border: 2px solid rgb(202, 202, 35);
    background: transparent;
    color: rgb(202, 202, 35);
    border-radius: 15px;
    box-shadow: 5px 5px 20px black;
}

#background-menu {
    position: absolute;
    top: 10%;
    left: 10%;
    margin: 0 auto;
    width: 90%;
    height: 90%;
    background-image: url('../images/pikachu-shadow.png');
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}


.pipe-game {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}




.character {
    width: 150px;
    height: 106px;
    position: absolute;
    background-image: url('../images/pikachu.gif');
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0;

}

.jump-character {
    animation: jump-animation 500ms ease-out;
}

.cloud-game {
    position: absolute;
    width: 550px;
    animation: clouds-animation 20s infinite linear;
}

.thunder-power {
    animation: thunder-animation 3s ease-in-out;
}

.power {
    position: absolute;
    opacity: 0;
    width: 300px;
    bottom: -45px;
    left: -50px;
}


.controls-mobile {
    width: 100px;
    height: 100px;
    position: absolute;
    border: 5px solid yellow;
    border-radius: 50px;
    left: 50px;
    top: 50px;

}

.button-mobile {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin: 3px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    background: purple;
    border: 2px solid purple;
    color: yellow;
}

.button-mobile:active {

    background: yellow;
    border: 2px solid yellow;
    color: purple;
}


@media screen and (max-width:480px) {
    .character {
        width: 75px;
        height: 53px;
        position: absolute;
        background-image: url('../images/pikachu.gif');
        background-size: contain;
        background-repeat: no-repeat;
        bottom: 0;

    }

    .pipe-game {
        position: absolute;
        bottom: 0;
        width: 40px;
        animation: pipe-animation 1.5s infinite linear;
    } 
}


@keyframes night {
  
    0% {
        background-image: url('../images/night.jpg');
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }

}


@keyframes thunder-animation {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.2;
    }

    20% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    70% {
        opacity: 0.6;
    }

    80% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }

}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }

}

@keyframes jump-animation {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px
    }

    70% {
        bottom: 180px;
    }

    100% {
        bottom: 0%;
    }
}